      <table class="table table-hover table-sm table-properties">
        <tr>
          <th></th>
          <th>sub</th>
          <th>name</th>
        </tr>
        <tbody rv-each-member="domain.members">
          <tr class="clickable-row" rv-data-href="member.issuer">
            <td>
              <img rv-src="member.logo" class="p-1 img-sm" />
            </td>
            <td class="align-middle">
              <span rv-text="member.sub"></span>
            </td>
            <td class="align-middle">
              <span rv-text="member.name"></span>
            </td>
          </tr>
        </tbody>
      </table>
